.dashboard {
    margin-top: 60px;
    margin-left: 30px;
}

.title1 {
    font-size: 25px;
    font-weight: 600;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sell-date {
    display: flex;
    align-items: center;
    gap: 20px;
}

.para {
    font-weight: 700;
}

.sell-input {
    display: flex;
    align-items: center;
    width: 235px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.icon {
    color: #b7bbc0;
}

.sell-input input {
    border: none;
}

.right2 {
    display: flex;
    align-items: center;
}

.dropdown2 {
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: end;
    border-radius: 20px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 40px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.box2 {
    background-color: white;
    border: 1px solid #d1d5db;
    padding: 0 25px;
    border-radius: 6px;
    width: 330px;
    height: 500px;
    margin-bottom: 20px;
}

.box2.shrink {
    width: 240px;
    height: 500px;
}

.trading,
.profit-heading,
.charge-text {
    color: rgb(43, 43, 43);
}

.t,
.p, 
.p1 {
    margin-top: -10px;
}

.o {
    font-size: 30px;
    margin-top: -10px;
}

.o2 {
    color: green;
}

.o3 {
    color: red;
}

.profit-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.t1 {
    font-size: 30px;
    margin-top: -10px;
    color: green;
}

.t2 {
    font-size: 30px;
    margin-top: -10px;
}

.t3 {
    font-size: 30px;
    margin-top: -10px;
    color: red;
}

.charges-card {
    display: flex;
    align-items: center;
    gap: 30px;
}

.charge-icon {
    font-size: 16px;
    color: blue;
}

.card2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -30px;
}

.n {
    font-size: 30px;
    margin-top: -10px;
}

@media (max-width: 1164px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .box2,
    .box2.shrink {
        width: 90%;
    }
}

@media (max-width: 1061px) {
    .boxes {
        grid-template-columns: 1fr;
    }

    .box2,
    .box2.shrink {
        width: 90%;
        height: auto;
    }
}