.trades {
    margin-top: 70px;
    margin-left: 20px;
}

.heading {
    color: #373c42;
}

.input1 {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    cursor: pointer;
    width: 230px;
    background-color: white;
}

.input1 input {
    border: none;
    outline: none;
}

.tradebook {
    font-weight: 600;
    margin-top: 15px;
    display: block;
    color: #373c42;
}

.input2 {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.input2 input {
    background-color: white;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    font-size: 14px;
}

.pl {
    font-weight: 600;
    margin-top: 10px;
    display: block;
    color: #373c42;
}

.input3 {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.input3 input {
    background-color: white;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    font-size: 14px;
}

.btn1 {
    background-color: rgb(189, 188, 188);
    border-radius: 20px;
    margin-top: 15px;
    width: 200px;
    padding: 10px 10px;
    border: none;
    color: blue;
    font-weight: 700;
    display: block;
}

.btn2 {
    background-color: #0FC692;
    border-radius: 20px;
    margin-top: 15px;
    width: 200px;
    padding: 10px 10px;
    border: none;
    color: white;
    font-weight: 700;
}

.box1 {
    margin-top: 20px;
    background-color: #e1e3e6;
    padding: 0.2px 10px;
    width: 300px;
    border-radius: 8px;
    border-left: 3px solid rgb(71, 71, 240);
    font-size: 15px;
}